@font-face {
  font-family: "Rustica";
  src: url("../fonts/Fontspring-DEMO-4_rustica-semilight.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Rustica", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  background-image: url("../images/background.jpg");
  background-size: cover;
  height: 100dvh;
  width: 100%;
}

/* #----------------------------------------------------------
   # Navbar 
   #----------------------------------------------------------*/
header {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 100;
  background-color: white;
}

#logo {
  margin-left: 30px;
  width: 80vw;
  color: #71bfa0;
  font-size: 20px;
  font-weight: bold;
}

#logo:hover {
  cursor: pointer;
}

.buttons_header {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
}

.button_header_cart {
  cursor: pointer;
  margin-right: 20px;
}

.button_header_bookings {
  cursor: pointer;
}
/* #----------------------------------------------------------
   # Title h1 & h2
   #----------------------------------------------------------*/
.center {
  width: 100vw;
  display: flex;
  text-align: center;
  flex-direction: column;
  h1 {
    color: white;
    font-weight: 400;
  }
  h2 {
    color: white;
    font-weight: 400;
  }
}

/* #----------------------------------------------------------
   # Search and Train
   #----------------------------------------------------------*/
#search_and_train_container {
  display: flex;
  justify-content: center;
  gap: 200px;
}

/* #----------------------------------------------------------
   # Search
   #----------------------------------------------------------*/
#search_container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 20vw;
  height: 400px;
  background-color: white;
}

input {
  font-size: large;
  padding: 0 10px;
  border-radius: 5px;
  width: auto;
  height: 50px;
  background-color: #f0f2f1;
  border: none;
}

input:focus {
  outline-color: #315072;
}

#search-separator {
  width: auto;
  height: 1px;
  background-color: #b4b4b4;
  margin: 0 3px;
}

#date_user {
  margin-top: 50px;
}

#search_button {
  font-size: large;
  border-radius: 5px;
  margin-top: auto;
  align-content: center;
  text-align: center;
  background-color: #469e86;
  color: white;
  height: 50px;
}

#search_button:hover {
  cursor: pointer;
}

/* #----------------------------------------------------------
   # Train
   #----------------------------------------------------------*/
#train_container {
  overflow-y: scroll;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  height: 420px;
  width: 20vw;
  background-color: white;
}

#train_container > img {
  margin-top: 70px;
  width: 150px;
}

#train-separator {
  width: 70%;
  height: 3px;
  background-color: #85b8a9;
  margin: 50px 0;
  border-radius: 5px;
}

#train_container::-webkit-scrollbar {
  width: 5px;
}

#train_container::-webkit-scrollbar-thumb {
  background: #717171;
  border-radius: 15px;
}

.trim-data {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4eeee;
  margin: 5px 0;
  padding: 0 10px;
  border-radius: 5px;
}

button {
  padding: 0 10px;
  background-color: #469e86;
  border: none;
  height: 30px;
  border-radius: 5px;
  color: white;
}

button:hover {
  cursor: pointer;
}

/* #----------------------------------------------------------
   # Cart and Bookings
   #----------------------------------------------------------*/
#reservation-bg {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
  z-index: 1;
}

.reservation-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: white;
  border-radius: 15px;
  font-weight: 600;
}

/* #----------------------------------------------------------
   # Cart
   #----------------------------------------------------------*/
#cart {
  display: none;
}

#cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cart-items > p {
  margin: 30px 0 25px;
}

#cart-total {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
  height: 70px;
  border-radius: 0px 0px 15px 15px;
  background-color: #00153e;
  color: white;
}

/* #----------------------------------------------------------
   # Bookings
   #----------------------------------------------------------*/
#bookings {
  display: none;
}

#bookings-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bookings-items > p {
  margin: 30px 0 25px;
}

#bookings-separator {
  width: 70%;
  height: 3px;
  background-color: #85b8a9;
  margin-top: 20px;
  border-radius: 5px;
}

.green {
  color: #85b8a9;
}
