@font-face {
  font-family: "Rustica";
  src: url("../fonts/Fontspring-DEMO-4_rustica-semilight.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Rustica";
}

header {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 100;
  background-color: white;
}

input {
  border-radius: 4px;
  width: auto;
  height: 40px;
  background-color: #e4e4e4;
  border-color: unset;
}

#logo {
  margin-left: 30px;
  width: 80vw;
  color: #71bfa0;
  font-size: 20px;
  font-weight: bold;
}

.buttons_header {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
}

.center {
  width: 100vw;
  display: flex;
  text-align: center;
  flex-direction: column;
  h1 {
    color: white;
    font-weight: 400;
  }
  h2 {
    color: white;
    font-weight: 400;
  }
}

.search_and_train_container {
  flex-direction: row;
  width: 40vw;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.container {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100vw;
}

.search_container {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding: 20px;
  width: 20vw;
  height: 320px;
  background-color: white;
}

.train_container {
  border-radius: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  padding: 20px;
  height: 320px;
  width: 20vw;
  background-color: white;
}

.search_button {
  border-radius: 2px;
  margin-top: auto;
  align-content: center;
  text-align: center;
  background-color: #71bfa0;
  height: 40px;
}

#reservation-bg {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
  z-index: 1;
}

.reservation-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  font-weight: 600;
}

#cart {
  display: none;
}

#bookings {
  display: none;
}

.button_header_cart {
  cursor: pointer;
  margin-right: 20px;
}

.button_header_bookings {
  cursor: pointer;
}
